body {
    font-family: Arial, sans-serif;
    background-color: #9797eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #022852;
}

#mensagem {
    margin-top: 15px;
    color: #28a745;
    font-size: 36px;
    font-weight: bold;
}

.oculto {
    display: none;
}
